/* Add here all your CSS customizations */
.logo {
  line-height: 1.1;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s all;
}

.logo-sub {
  font-size: 0.9rem;
}

.logo:hover {
  text-decoration: none;
  opacity: 0.8;
}

.quotes-section {
  /* background: #0099e6; */
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.quotes-section::after {
  background: #0099e6;
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.testimonial-arrow-down {
  display: none;
}

.testimonial-primary blockquote {
  background: transparent !important;
}

.quotes-section .testimonial .testimonial-author strong {
  color: #fff;
  line-height: 1.2;
}

.card-img-top {
  overflow: hidden;
  max-height: 200px;
}

.card-img-top img {
  width: 100%;
  object-fit: cover;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.testimonial blockquote p {
  font-family: "Open Sans", Arial, sans-serif;
}

.card--shadow {
  transition: 0.4s transform;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.card--shadow:hover {
  text-decoration: none;
  transform: translateY(-10px);
}

.card-mini {
  height: 100%;
}

.card-mini .card-body {
  display: flex;
  flex-direction: column;
}

.card-mini .read-more {
  margin-top: auto;
}

.read-more:hover {
  text-decoration: none;
}

.read-more .fas {
  transition: 0.2s all;
}

.read-more:hover .fas {
  margin-left: 10px !important;
}

.thumb-info-wrapper {
  max-height: 320px;
}

.section-bg-dark {
  background: #f7f7f7;
}

.animated-section {
  position: relative;
  overflow: hidden;
}

.anim-item {
  position: absolute;
  width: 60px;
  height: auto;
  opacity: 0.6;
}

.anim-item-1 {
  top: 20px;
  left: 20px;
  animation: 3s topBottom ease-in-out infinite;
}

.anim-item-2 {
  bottom: 30px;
  right: 20px;
  animation: 6s topBottom ease-in-out infinite;
}

.anim-item-3 {
  top: 20px;
  right: 20px;
  animation: 3s topBottom ease-in-out infinite;
}

.custom-card {
  padding: 20px;
  background: #fff;
  /* box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07); */
  border-radius: 10px;
}

.custom-card-heading {
  font-weight: bold;
  line-height: 1.2;
  color: #0099e6;
  font-size: 1.6rem;
  margin-bottom: 20px;
  display: inline-flex;
}

.custom-card-desc {
  margin-bottom: 10px;
}

.custom-card-img-wrapper img {
  max-width: 100%;
  height: auto;
}

.post-image a {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gouests-section .owl-dots {
  margin-top: 30px;
}

.header-effect-shrink {
  height: 80px !important;
}

.header-container {
  min-height: 80px !important;
  height: 80px !important;
}

.border-left-heading {
  border-left: 4px solid #0099e6;
  padding-left: 15px;
}

.border-heading-span {
  color: #0099e6;
}

.heading-marquee {
  /* height: 40px; */
  width: 100%;
  display: flex;
  align-items: center;
  display: inline-flex;
  padding: 20px;
}

.marquee {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
	cursor: pointer;
}

.extended-card {
  border-radius: 10px;
  transition: .4s transform;
}

.extended-card:hover {
  transform: translateY(-20px);
}

.more-btn i {
  transition: .2s all;
}

.more-btn:hover i {
  margin-left: 12px !important;
}

.card-img-wrapper {
  display: flex;
  align-items: center;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.card-extended-img {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.extended-card:hover .card-extended-img::before {
  opacity: 1;
	top: -146%;
	left: -40%
}

.card-extended-img::before {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 400%;
  opacity: 0;
  transform: rotate(30deg);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) 0,
    hsla(0, 0%, 100%, 0.1) 77%,
    hsla(0, 0%, 100%, 0.5) 92%,
    hsla(0, 0%, 100%, 0)
  );
	z-index: 3;
	transition: all .4s ease-in-out;
}

.card-img-wrapper::before {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 400%;
  opacity: 0;
  transform: rotate(30deg);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) 0,
    hsla(0, 0%, 100%, 0.1) 77%,
    hsla(0, 0%, 100%, 0.5) 92%,
    hsla(0, 0%, 100%, 0)
  );
	z-index: 3;
	transition: all .4s ease-in-out;
}

.card-hover:hover .card-img-wrapper img {
  transform: scale(1.1);
}

.card-hover:hover .card-img-wrapper::before {
	opacity: 1;
	top: -146%;
	left: -40%
}

.card-hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.card-title-light i {
  color: #c7c7c7;
}

.card-title-light {
  color: #6b6b6b;
}

.js-fancy-thumb:hover {
  text-decoration: none;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s all;
  transform-origin: center center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.marquee .inner span {
  margin-right: 20px;
}

.radius-2 {
  border-radius: 10px;
}

.auth-section {
  min-height: calc(100vh - 215px);
}

#footer .footer-copyright p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}

#footer a:not(.btn) {
  color: rgba(255, 255, 255, 0.7);
}

.post-card-wrapper .post-image a {
  max-height: 200px;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card-wrapper {
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
}

.post-card-wrapper .post-content {
  padding-right: 20px;
}

@keyframes topBottom {
  0% {
    transform: scale(1) translate(0, 0) rotate(0);
  }
  50% {
    transform: scale(1.1) translate(20px, 40px) rotate(180deg);
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(360deg);
  }
}

@keyframes circle {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.1) translate(30px, 45px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes circleReverse {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(0.9) translate(45px, 20px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 991px) {
    .resIcon{
        display:none!important;
    }
}
 